# "Hello, World!" Program

In [30]:
print("Hello, World!")

Hello, World!

 ---

# Variables

In [31]:
x = 5
print("x =", x)

x = "Five"
print("x =", x)

x = 5
x = Five

In [32]:
print('-' * 50)

--------------------------------------------------

 ---

# Operators

In [33]:
x = 10
y = 4

print('x + y =', x+y)

print('x - y =', x-y) 

print('x * y =', x*y)

print('x / y =', x/y)

print('x // y =', x//y)

print('x % y =', x%y)

print('x ** y =', x**y)

x + y = 14
x - y = 6
x * y = 40
x / y = 2.5
x // y = 2
x % y = 2
x ** y = 10000

In [34]:
x = 10

x+=1 #not x++
print(x)

x+=5
print(x)

x /= 5
print(x)

11
16
3.2

# User Input

In [35]:
inputString = input('Enter a string:')
print('You\'ve entered:', inputString)

Enter a string:hello
You've entered: hello

# Comments

In [36]:
# This is a comment

"""This is a 
    multiline
    comment."""
    
'''This is also a
 multiline
 comment.'''

'This is also a\n multiline\n comment.'

# Type Conversion

In [37]:
var_int = 123  # Int
var_flo = 1.23  # Float

var_new = var_int + var_flo

print("value of var_new:",var_new)
print("type of var_new:",type(var_new))

value of var_new: 124.23
type of var_new: <class 'float'>

In [38]:
num_int = 123     # int
num_str = "456"   # str

print(num_int + num_str)
#print(num_int, num_str)
#print(str(num_int) + num_str)
#print((num_int) + int(num_str))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Python Numeric Types

In [ ]:
print(type(3))

print(type(3.0))

print(type(2 + 3j))

# Lists

In [ ]:
language = ["French", "German", "English", "Polish"]

print("Type: ", type(language))

# 1st element
print(language[0])


# # 3rd element
print(language[2])

language[0] = "Italian"
print(language[0])

language[1:3]

# print(language)

# #remove second element
language.pop(0)
print(language)


language[-2]

In [ ]:
dir(language)

# Tuples

In [ ]:
language = ("French", "German", "English", "Polish")

print(language[1])
print(language[3])
print(language[-1])
print(language[-2])


language[0] = "Italian"

# String

In [ ]:
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)

# triple quotes string for multiple lines
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)


my_string = "hellodsfsdfmsklmewfewlkfnwelkfmw"\
"elkfmwe fnwelkfmwelkfmwe fnwelkfmwelkfmwe fnwelkf"\
"mwelkfmwe fnwelkfmwelkfmwe fkew fwefeworld"

my_string = """hellodsfsdfmsklmewfewlkfnwelkfmw
elkfmwe fnwelkfmwelkfmwe fnwelkfmwelkfmwe fnwelkf
mwelkfmwe fnwelkfmwelkfmwe fkew fwefeworld"""
print(my_string)

In [ ]:
# slicing
str = 'python'
print('str = ', str)

print('str[0] = ', str[0])

print('str[-1] = ', str[-1])

print('str[1:4] = ', str[1:4])

print('str[2:-2] = ', str[2:-2])

In [ ]:
str1 = 'Hello '
str2 ='World!'

print(str1 + str2)

print("*" * 30)

---

 # Sets

In [ ]:
# int set
my_set = {1, 2, 3}
print(my_set)

# set of mixed types
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

In [ ]:
# int set
my_set = {1, 2, 3}

my_set.add(4)
print(my_set)

my_set.add(2)
my_set.add(2)
my_set.add(2)
my_set.add(2)
print(my_set)

my_set.update([3, 4, 5]) 
print(my_set)

my_set.remove(4)
print(my_set)

In [ ]:
A = {1, 2, 3}
B = {2, 3, 4, 5}

# union
print(A | B) # 1,2,3,4,5

# intersection
print (A & B)  # 2, 3

# difference
print (A - B)  #1

# symmetric difference
print(A ^ B)  #1,4,5

---

# Dictionaries

In [ ]:
# empty dict
my_dict = {}

# dict with int keys
my_dict = {1: 'apple', 2: 'pear'}

# dictionary with mixed keys
my_dict = {'name': 'Alice', 1: [2, 4, 3]}

In [ ]:
person = {'name':'Peter', 'age': 25, 'salary': 25000}
print(person['age'])

In [ ]:
person = {'name':'Oscar', 'age': 30}

print(person)

# Changing age to 36
person['age'] = 36 
print(person)

# Adding height
person['height'] = 6
print(person)


# Deleting age
del person['age']
print(person)


for k,v in person.items():
    print('Key: ', k ,' Value: ' , v)

In [ ]:
[x for x in person.keys()]

---

# range()

In [ ]:
print(list(range(6)))

print(tuple(range(1,6)))

print(set(range(5,10)))

In [ ]:
# step range
print(list(range(1, 10 , 1)))

print(list(range(1, 10, 3)))

print(list( range(10, 0, -2)))

---

# if/else

In [ ]:
num = -1

if num > 0:
    print("Positive")
elif num == 0:
    print("Zero")
else:
    print("Negative")

---

# while loop

In [ ]:
n = 10

sum = 0 #store sume
i = 1

while i <= n:
    sum += i
    i += 1    # increment

print("Sum =", sum)

 ---

# for loop

In [ ]:
numbers = [1, 2, 3, 4, 5]

sum = 0

# iterate over the list
for x in numbers:
    sum += x

print("Sum =", sum)

---

# break statement

In [ ]:
for i in range(10):
    if i == 3:
        break
    print(i)

---

# continue statement

In [ ]:
for i in range(10):
    if i == 3:
        continue
    print(i)

In [ ]:
# and or in if showcase
for i in range(10):
    if i > 2 and i < 8:  #FAIL
        continue
    print(i)

---

# pass statement

In [ ]:
for i in range(3):
    pass

---

# Function

In [ ]:
def add_numbers(a, b):
    """ Adds two numbers together"""
    
    # Calculate the total and return
    return a + b

print(add_numbers(6, 11))

---

# Lambda Function

In [ ]:
square_func = lambda x: x ** 2

print("Square =", square_func(5))


# add_numbers_lambda = lambda x,y: x + y

# print("Sum =", add_numbers_lambda(6,11))

---

# Modules

In [ ]:
import math

result = math.log10(100)
print(result)

print(math.pi)

---

# Classes and Objects

In [ ]:
class MyClass:
    """ This is a dummy class """
    a = 10
    
    def __init__(self, x):
        self.x = x
        
    def printx(self):
        print(self.x)
        
    def func(self):
        print('Hello')
        
        

print(MyClass.a)


# my_class_obj = MyClass(123)

# my_class_obj.func()


# print(MyClass.__doc__)

# my_class_obj = MyClass(123)
# my_class_obj.printx()


# my_class_obj2 = MyClass(456)
# my_class_obj2.printx()

In [ ]:
class ComplexNumber:
    # constructor
    def __init__(self,r = 0, i = 0):  
        self.real = r
        self.imag = i

    def getData(self):
        print("{0}+{1}j".format(self.real,self.imag))


c1 = ComplexNumber(2,3)
c1.getData()

c2 = ComplexNumber()
c2.getData()